* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.container {
  height: 400px;
  background-image: url(./img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel {
  width: 100%; /*25%mobil*/
  height: 400px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.slider {
  width: 400%;
  height: 100%;
  transition: all 0.3s;
  display: flex;
  position: absolute;
  margin-top: 50px;
}
.slider section {
  flex-basis: 100%;
  margin-top: 30px;
  color: white;
}

.slider section h3 {
  width: 500px;
  font-size: 46px;
  font-family: "Merriweather", serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
}

.controls {
  display: flex;
  height: 40px;
  margin-top: 30px;
  align-items: end;
}

.controls ul {
  display: flex;
  list-style: none;
  position: absolute;
  left: 0;
}
.controls li {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  margin-right: 25px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.338);
}
.controls li.selected {
  background: rgba(255, 255, 255, 0.83);
}

.controls .material-symbols-outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.741);
}

.controls .arrows {
  display: flex;
  position: absolute;
  right: 0;
}

.controls span {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.29);
}
.controls span:hover {
  background-color: rgba(255, 255, 255, 0.554);
}
.btn {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 15px 30px;
  background-color: rgba(0, 95, 163, 1);
  color: white;
  border: none;
  outline: none;
  margin-top: 200px;
}
/*---------------------------------------------------------------*/
.wrapper {
  max-width: 1110px;
  min-width: 414px;
  position: relative;
  margin: auto;
}
.section2 {
  padding-top: 100px;
  background-color: rgb(223, 223, 223);
  height: 550px;
  margin: auto;
  position: relative;
}
.clients_txt {
  height: 110px;
}
.clients_txt p {
  margin-bottom: 30px;
}
.carousel2 {
  width: 100%; /*25%mobil*/
  height: 150px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.slider2 {
  gap: 30px;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  display: flex;
  position: absolute;
  align-items: center;
}
.controls2 {
  height: 85px;
  position: relative;
}
.controls2 ul {
  display: flex;
  bottom: 25px;
  list-style: none;
  position: absolute;
  left: 0;
}
.controls2 li {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  margin-right: 25px;
  cursor: pointer;
  background-color: rgba(0, 95, 163, 0.338);
}
.controls2 li.selected {
  background: rgba(0, 95, 163, 1);
}
.controls2 .arrows2 {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 25px;
}
.controls2 .material-symbols-outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.741);
}
.controls2 span {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 95, 163, 1);
}
.controls2 span:hover {
  cursor: pointer;
  background-color: rgba(0, 95, 163, 0.325);
}
/*---------------------------------------------------------------*/
.section3 {
  padding-top: 100px;
  height: 550px;
  margin: auto;
  position: relative;
}
.clients_txt {
  height: 110px;
}
.clients_txt p {
  margin-bottom: 30px;
}
.carousel3 {
  width: 100%; /*25%mobil*/
  height: 320px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.slider3 {
  width: 400%;
  height: 100%;
  transition: all 0.3s;
  display: flex;
  position: absolute;
  align-items: center;
}
.controls3 {
  height: 85px;
  position: relative;
}
.controls3 ul {
  display: flex;
  bottom: 25px;
  list-style: none;
  position: absolute;
  left: 0;
}
.controls3 li {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  margin-right: 25px;
  cursor: pointer;
  background-color: rgba(0, 95, 163, 0.338);
}
.controls3 li.selected {
  background: rgba(0, 95, 163, 1);
}
.controls3 .arrows3 {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 25px;
}
.controls3 .material-symbols-outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.741);
}
.controls3 span {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 95, 163, 1);
}
.controls3 span:hover {
  cursor: pointer;
  background-color: rgba(0, 95, 163, 0.325);
}
h5 {
  font-size: 17px;
  font-weight: 800;
}
.container_clients {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.clients_text {
  margin-left: 30px;
}
.clients_company {
  font-weight: 100;
}
.container_grey {
  padding: 74px;
  background-color: rgb(234, 234, 234);
}
h2 {
  font-size: 48px;
}

/*HEADER*/
header h3 {
  width: 500px;
  font-size: 46px;
  font-family: "Merriweather", serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
}
.sl {
  color: white;
}
html {
  scroll-behavior: smooth;
}
.logo {
  width: 260px;
  height: 43px;
  display: flex;
  align-items: center;
}
.logo1 {
  height: 40px;
  width: 40px;
}
.logo2 {
  margin: auto;
  color: rgb(0, 95, 163);
  font-family: "Merriweather", serif;
  font-size: 36px;
  font-weight: 700;
}
nav {
  display: flex;
  width: 1116px;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 118px;
}

.top_btn {
  display: flex;
  gap: 71px;
}

.top_btn > a {
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.burger_menu {
  display: none;
  width: 45px;
  height: 35px;
  padding-right: 100px;
}

.line {
  margin: 5px;
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  border-radius: 15px;
  transition: 300ms;
}

.active > .line:nth-child(1) {
  position: relative;
  top: 10px;
  transform: rotate(405deg);
}

.active > .line:nth-child(2) {
  transform: rotate(-405deg);
}

.active > .line:nth-child(3) {
  position: relative;
  top: -10px;
  transform: rotate(-405deg);
}

.navbar{
  display: none;
}

@media (max-width: 754px) {
  .logo {
    margin-left: 50px;
  }

  .burger_menu {
    display: block;
  }
  .top_btn {
    display: none;
  }

  .wrapper {
    max-width: 754px;
    min-width: 414px;
    position: relative;
    margin: auto 85px;
  }

  .controls .arrows {
    display: flex;
    position: absolute;
    right: 0;
  }

  .carousel2 {
    width: 60%; /*25%mobil*/
    height: 196px;
    margin: auto;
    position: relative;
    overflow: hidden;
  }

  .slider2 img {
    width: 481px;
    height: 196px;
}

.navbar {
  position: absolute;
  right: 0px;
  top: 120px;
  width: 0;
  height: 47.5%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  transition: 300ms;
  transform: rotate(45deg);
  background-color: rgb(255, 255, 255);
  z-index: 1;
  line-height: 50px;
}

.navbar.active {
  top: 120px;
  right: 0px;
  width: 50%;
  transform: rotate(0deg);
}

.navbar ul {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: inherit;
}
}
